@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap');
:root{
    --background-color: #3F3A32;
    --box-color: #262420;
    --text-color: #e4e4e4;
}

*{
    margin: 0; padding: 0;
    font-family: 'Noto Sans', sans-serif;
    color: var(--text-color);
    text-transform: capitalize;
    box-sizing: border-box;
}

body{
    position: relative;
    background: var(--background-color);
    min-height: 100vh;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    background: var(--box-color);
}

.date{
    text-align: end;
    margin-right: 1.2rem;
}

form{
    max-width: 60vw;
    min-width: 60vh;
    height: 60vh;
    background: var(--box-color);
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto;
}

