@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap');
:root{
    --primary-color: #ffffff;
    --text-color: #2699ff;
}

*{
    margin: 0; padding: 0;
    font-family: 'Noto Sans', sans-serif;
    color: var(--text-color);
    text-transform: capitalize;
    box-sizing: border-box;
}

body{
    padding: 0 10%;
}

header{
    height: 8vh;
    text-align: center;
    margin-top: 1.5rem;
}

header h1{
    font-size:2.8rem;
}

.date{
    margin-top: 1.5rem;
    text-align: end;
    font-size: 1.6rem;
    font-weight: 400;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
    margin: 0 auto;
    max-width: 65%;
    padding: 2.5rem;
}

.form-container{
    border-radius: 10px;
    padding: 2.5rem;
    box-shadow: 0 0 20px 1px #ddd;
}
.input-daily-records{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin: 0 auto;
    padding: 1.2rem;
}

.input-daily-records > input{
    width: 45%;
    padding: .3rem .6rem;
    font-size: 1.2rem;
}

.btn{
    text-align: center;
    margin: 1.2rem 0.75rem;
    width: 41%;
    font-size: 1.2rem;
    padding: .3rem .6rem;
}

.button{
    text-align: center;
}